@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --accent: #FFEBCD;
    --default: rgba(0, 0, 0, 0.3)
}
body {
    height: 100vh;
    font-family: "Nunito", sans-serif;
    background: var(--accent);
    display: flex;
    justify-content: center;
    padding: 35px;
    font-size: 18px;
    font-weight: 300;
}

.todo {
    border-radius: 20px;
    width: 90vw;
    padding: 35px;
    background: white;
}


.todo__title::after {
    content: "🚀";
}
.todo__new {
    --size: 50px;    
    display: flex;
    margin: 15px 0 32px;
}
.todo__new input {
    height: var(--size);
    margin-right: 15px;
    font-size: 18px;
   padding: 8px 15px;
   border: 1px solid var(--default);
   border-radius: 5px;
   flex-grow: 1;
   outline-color: var(--accent);

}
.todo__add,
.todo__task-del {
    outline-color: black;
    cursor: pointer;
    text-align: center;
    height: var(--size);
    border: 1px solid var(--default);
    width: var(--size);
    border-radius: var(--size);
    line-height: var(--size);
    font-size: 32px;
    font-weight: 100;
    background: var(--accent);
    color: white;
}


.todo__list > *:not(:last-child) {
margin-bottom: 8px;
}
.todo__task {
    cursor: default;
    --size: 35px;
    display: flex;
    min-height: var(--size);
    align-items: center;
}


.todo__chekbox {
    margin-right: 15px;
}

.todo__chekbox input {
    display: none;
}

.todo__chekbox input:checked + div {
    background: var(--accent);
}
.todo__chekbox input:checked + div::after {
    display: block;
}

.todo__task__comleted .todo_task-title {
    text-decoration: line-through;
    color: gray;
}  

.todo__chekbox div {
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    --size: 28px;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    position: relative;
    color:  rgb(88, 86, 86);
}

.todo__chekbox div::after {
    text-align: center;
    content: "\2713";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.todo_task-title {
}

.todo__task:hover .todo__task-del {
    display: block;
}
  
.todo__task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
}
.todo__task-del i {
    margin-top: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    transition: all ease-in-out .3s;
}
.todo__task-del i:hover {
    color: rgb(133, 0, 0);
}
.fas {
}
.fa-trash {
}